Repository comworkio/gcp-cloud-identity-debug: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deliver_python, deliver_java, deliver_php

deliver_python:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "gcp-cloud-identity-debug-py" "1.0" "python"
  tags:
  - imagesbuilder

deliver_java:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "gcp-cloud-identity-debug-java" "1.0" "java"
  tags:
  - imagesbuilder

deliver_php:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "gcp-cloud-identity-debug-php" "1.0" "php"
  tags:
  - imagesbuilder

Fix: revert python change
  python/docker-compose-local.yml
Due: deliver_python

Update dockerfile
  php/Dockerfile
Due: deliver_php

Fix: dockerfile and date
  README.md
  php/Dockerfile
  php/main.php
Due: deliver_php

Remove useless file
  key.json
Due: none

Fix: remove useless variable
  .env.example
Due: none

Prepare node sources
  .gitlab-ci.yml
  node/docker-compose-local.yml
  node/docker-compose.yml
Due: deliver_python, deliver_java, deliver_php

Add js dependancies
  .gitignore
  node/main.js
  node/package-lock.json
  node/package.json
Due: none

Fix: remove useless python code
  .gitlab-ci.yml
  python/main.py
Due: deliver_python, deliver_java, deliver_php

Implement upload in node.js
  node/Dockerfile
  node/main.js
  node/package.json
Due: none

Add node entry in the README file
  README.md
Due: none

Deliver node image
  .gitlab-ci.yml
  node/main.js
Due: deliver_python, deliver_java, deliver_php

Add php sample for downloading files
  php/download-parallel.php
  php/download.php
Due: deliver_php

Path conditions:
  deliver_python: any of: .gitlab-ci.yml, ci/docker-deliver.sh, python/*
  deliver_java: any of: .gitlab-ci.yml, ci/docker-deliver.sh, java/*
  deliver_php: any of: .gitlab-ci.yml, ci/docker-deliver.sh, php/*
